:root{
    --primary-color : #003973;
    --secondary-color : #E5E5BE; 
    a : #7F7FD5;
    b: #91EAE4 #86A8E7;
    --btn-color:rgba(173, 173, 173, 0.815); 
}

.nav-header-DW {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    background: var(--primary-color);
    width: 100%;
    min-width: 300px;
    height: 3.5rem;
    /* position: fixed; */
}

.fixed{
      margin : auto;
      position: fixed;
      margin-top: -4rem;
      /* padding-bottom: 3rem; */
}

.logo {
    font-size: 20px;
    font-weight: bold;
}
  
  .header__nav-DW {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .header__nav-DW li {
    display: inline-block;
  }
  .header__nav-DW a {
    padding: 8px;
  }
  

  .quiz-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }


  .container{
      max-width: 50%;
      padding-left: 20%;
  }

.ans-btn{
    width: 30rem;
    height: 4rem;
    background-color: var(--btn-color);
    font-weight: 450;
    font-size: 1.5rem;
}

.text-right{
    margin-top:  -2rem;
}

.right-ans{
    background-color: rgb(0, 153, 0);
}

.wrong-ans{
    background-color: rgb(201, 6, 6);
}